.page-title {
  text-align: center
}

.column {
  float: left;
  width: 25%;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.portlet {
  border-radius: 4px;
  box-shadow: 0 2px 5px 2px rgba(0,0,0,0.1);
  margin: 0 20px 25px;
  padding: 0 10px 20px;
}

.portlet.bordered {
  border: 1px solid #e1e1e1 !important;
}

.portlet.light {
  background: #fff
}

.portlet-body {
  header {
    background: rgba(0, 0, 0, 0.05);
    margin: 0 -10px 8px;
    padding: .3em 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  select {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }

  .hint {
    color: #737373;
    display: block;
    font-size: 12px;
    margin: 10px 0;
  }

  td.number {
    width: 15px;
    color: #c7c7c7;
  }
}
